<p id="notice"><%= notice %></p>

<p>
  <strong>Mark:</strong>
  <%= @mark.mark %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mark.description %>
</p>

<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
