<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @real_class.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @real_class.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @real_class.semester %>
</p>

<p>
  <strong>Active:</strong>
  <%= @real_class.active %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @real_class.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @real_class.end_date %>
</p>

<%= link_to 'Edit', edit_real_class_path(@real_class) %> |
<%= link_to 'Back', real_classes_path %>
